.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
video {
        display: block;
        width: 60%;
        min-width: 240px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }